@{
    ViewData["Title"] = "Thông tin cá nhân";
}
<h1>@ViewData["Title"]</h1>

<p>Đây là trang thông tin cá nhân của sinh viên dự thi.</p>

<hr />

<div>
    <h4>Thông tin sinh viên</h4>
    <p><strong>Họ và tên:</strong> @ViewData["HoTen"]</p>
    <p><strong>Mã sinh viên:</strong> @ViewData["MSV"]</p>
    <p><strong>Lớp:</strong> @ViewData["Lop"]</p>
</div>